---
import type { HTMLTag } from 'astro/types';
import { twMerge } from 'tailwind-merge';

export interface Props {
    containerClass?: string;
    ['as']?: HTMLTag;
}

---

<div class="relative not-prose scroll-mt-[40px] --color-background">
    <div class="absolute inset-0 pointer-events-none -z-[1]" aria-hidden="true">
    </div>
    <div
            class:list={[
                twMerge('relative mx-auto max-w-7xl px-2 md:px-4 py-4 md:py-4 lg:py-1 text-default'),
            ]}
    >
        <slot />
    </div>
</div>
