.form-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: var(--color-background);
    color: var(--color-text);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--color-border);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2; /* Adjust based on how many columns you want it to span */
}

label {
    margin-top: 2px;
    margin-bottom: 5px;
    color: var(--color-text-offset);
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background-offset);
    color: var(--color-text);
}

.large-input {
    height: 100px;
}

.button {
    grid-column: span 2;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    padding: 10px;
    background: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*!*.modal-overlay {*!*/
/*!*    z-index: 9999;*!*/
/*!*    width: 100vw;*!*/
/*!*    height: 100vh;*!*/
/*!*    position: absolute;*!*/
/*!*    top: 0;*!*/
/*!*    background: rgba(0, 0, 0, 0.7);*!*/
/*!*    display: flex;*!*/
/*!*    justify-content: center;*!*/
/*!*    align-items: center;*!*/
/*!*}*!*/

/*!*.modal-box {*!*/
/*!*    display: block;*!*/
/*!*    background: white;*!*/
/*!*    width: 70%;*!*/
/*!*    height: 50%;*!*/
/*!*    padding: 1rem;*!*/
/*!*    border-radius: 1rem;*!*/
/*!*}*!*/

/*button:hover {*/
/*    background: var(--color-secondary);*/
/*}*/
