---
import "@fontsource-variable/inter";
import Footer from "../components/landing/footer.astro";
import Header from "../components/shop/header.astro";
import Form from "../components/form/form.tsx";
import "~/styles/form.css";
import "~/styles/index.css";
import Headline from "../components/shop/headline.astro";
const {generator, site} = Astro;
const description = "Унікальний український Minecraft сервер";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" href="/favicon.svg" type="image/png"/>
    <meta name="generator" content={generator}/>

    <title>UAProject | Анкета</title>
    <meta name="description" content={description}/>

    <!-- social media -->
    <meta property="og:title" content="UAProject"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content={description}/>
    <meta property="og:url" content={site}/>
    <meta name="twitter:card" content="summary_large_image"/>

    <!-- initialize theme -->
    <script is:inline>
        const themeSaved = localStorage.getItem("theme");

        if (themeSaved) {
            document.documentElement.dataset.theme = themeSaved;
        } else {
            const prefersDark = window.matchMedia(
                "(prefers-color-scheme: dark)"
            ).matches;
            document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
        }

        window
            .matchMedia("(prefers-color-scheme: dark)")
            .addEventListener("change", (event) => {
                if (!localStorage.getItem("theme")) {
                    document.documentElement.dataset.theme = event.matches
                        ? "dark"
                        : "light";
                }
            });
    </script>
</head>
<body
        class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
>
<Header/>
<div class="space-y-5 px-4 py-28">
    <Headline title={"Анкета 📝"} subtitle={"Безкоштовний спосіб отримати допуск на сервер"}/>
    <Form client:load/>
</div>
<Footer/>
</body>
</html>
